/node_modules
/src/main/webapp/resources/dist
/.idea
/frontend/src-tauri/target-prod
/frontend/src-tauri/target
/frontend/dist
/backend/target
/.vscode
/backend/target
/.vscode
/frontend/node_modules
